@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F9F7;
  --foreground: #6B5F7B;
  --main: #E4B7B7;
  --light-accent: #F2BC60;
  --dark-accent: #A49DAA;
  --error: #EF4444;
}

.dark {
  --background: #6B5F7B;
  --foreground: #F9F9F7;
  --main: #E4B7B7;
  --light-accent: #F2BC60;
  --dark-accent: #A49DAA;
  --error: #EF4444;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
